<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <title>{{ page.title }}</title>
  </head>

  <body>
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h1 id="project_title">Ruby och Rails i Sverige</h1>
        {{ content }}
      </section>
    </div>

    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Publicerad med <a href="http://pages.github.com">GitHub Pages</a>.</p>
      </footer>
    </div>
  </body>
</html>
